<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <form #a="ngForm" (ngSubmit)="update(a.value)">
        <table class="table container table-bordered">
            <tr><td>ID</td>
            <td><input type="number" name="id" ngModel></td>
            </tr>
            <tr><td>NAME</td>
                <td><input type="text" name="name" ngModel></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-success" value="UPDATE"></td>
            </tr>
        </table>
    </form>
</body>

</html>