<h2>List Bookings</h2>
<table>
  <thead>
    <tr>
      <th>MOvieId</th> 
      <th>MovieName</th>
      <th>Date</th>
      <th>Tickets</th>
      <th>Amount</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movieslist" >
      <td>{{m.movieId}}</td>
      <td>{{m.movieName}}</td>
      <td>{{m.movieBookingdate}}</td>
      <td>{{m.noOfTickets}}</td>
      <td>{{(m.noOfTickets)*150}}</td>
      <button class="btn btn-primary" onclick="window.location.href='app-delete-movie-booking'">
        Delete
      </button>
    </tr>
  </tbody>
</table>
